@import "tailwindcss";

@custom-variant active-route (&:where(.active));

@font-face {
  font-family: "geist";
  src: url("assets/fonts/Geist/Geist-VariableFont_wght.ttf");
}
@font-face {
  font-family: "lato";
  src: url("assets/fonts/Lato/Lato-Bold.ttf");
}

@theme {
  --font-geist: "geist", sans-serif;
  --font-lato: "lato", sans-serif;
  --color-black-50: #f2f2f2;
  --color-white-mint: #d0ecdf;
}

@utility text-1 {
  font-size: clamp(1.5rem, 1.368rem + 0.5634vw, 1.875rem);
  line-height: 1.25;
  letter-spacing: -0.05px;
}

@utility text-2 {
  font-size: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
  line-height: 1.25;
}
@utility text-3 {
  font-size: clamp(0.9375rem, 0.8715rem + 0.2817vw, 1.125rem);
  line-height: 1.25;
}

@utility text-4 {
  font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
  line-height: 1.25;
}
@utility text-5 {
  font-size: clamp(0.6875rem, 0.6215rem + 0.2817vw, 0.875rem);
  line-height: 1.25;
}
@utility text-6 {
  font-size: clamp(0.625rem, 0.581rem + 0.1878vw, 0.75rem);
  line-height: 1.25;
}

.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}
